<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
  <p>Greetings <%= "#{ @user.name }" %></p>
  <p>
      <%= "#{@approver.name}" %> has accepted your request for AlumNet access. <br>
      You have <%= "#{@user.get_approved_requests.count}" %> approves and only need <%= 3 - @user.get_approved_requests.count %> more approves to become an active member.      
    </p>
</div>