<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
    <p>
        Thank you <%= @user.profile.first_name %> <%= @user.profile.last_name %> for signing up to be part of AlumNet, your global community portal developed by AIESEC Alumni International.
    </p>

    <p>
    	To complete your registration, three alumni already registered with AlumNet needs to confirm that you are a bonafide AIESEC Alumni. You can accelerate the process by inviting alumni you know to approve your registration.
    </p>

    <p>AlumNet gives you the tools to find alumni you know who are already registered by checking your Gmail, Yahoo, Hotmail/Outlook and contacts.</p>
</div>