<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
  <p>Greetings <%= "#{ @user.name }" %></p>
  <p>
    The AIESEC Alumni <%="#{ @user.name }"%> sent you this invitation to join AlumNet. 
  </p>

  <p>
      The user <%= "#{@friend.name}" %> has accepted your friendship request <br>
      Click <a href=<%= "#{Settings.ui_endpoint}/#users/#{@friend.id}/about" %>>here</a> to see the profile of you new friend!
  </p>
</div>