<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
  <p>Hey AIESEC Alumni!</p>
  <p>
    <b><%="#{ @user.name }"%></b> sent you this invitation to join AlumNet.
  </p>
  <p>
    <b>AlumNet</b> is the official online platform for AIESEC Alumni worldwide developed by AIESEC Alumni International.
  </p>
  <p>
    Finally, we can really all be together in one space.  
  </p>
  <p>
    Click <b><a href=<%= "#{Settings.ui_endpoint}/home/?invitation_token=#{@token}" %>>here</a></b> to join AlumNet today.
  </p>

</div>