<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Greetings <%= "#{ @user.name }" %></h2>
    <p>
      Welcome! You've joined to the Group <%= "#{@group.name}" %> <br>
      Click <a href=<%= "#{Settings.ui_endpoint}/#groups/#{@group.id}/posts" %>>here</a> to visit the group.
    </p>
  </body>
</html>
