<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
	<p>Greetings <%= "#{ @user.name }" %></p>
	<p>
	  Hi <%= "#{@user.name}" %>, Congratulations, now you have admin rights in <%= "#{@company.name}" %>
	  <br>	  
	</p>
</div>