<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
  <p>
  	Hello <%= "#{ @user.name }" %>
  </p>
  <p><%= "#{@sender.name}" %> sent a message  </p>
  <p>Clic <a href=<%="#{Settings.ui_endpoint}/#conversations" %>>here</a> to see your messages.</p>
</div>