<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
  <p>Greetings <%= "#{ @user.name }" %></p>
  <p>
      To reset your password, please visit
      <a href=<%="#{Settings.ui_endpoint}/password_resets/#{@user.password_reset_token}/edit"%> >Here</a>
  </p>
</div>