<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Greatings <%= "#{ @user.name }" %></h2>
    <p>
      To reset your password, please visit <%= "#{ @user.password_reset_token }" %>
    </p>
  </body>
</html>