<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
    <p>Hello <%= "#{ @user.name }" %></p>
    <p>
      Congratulations! You are now a premium member of AlumNet.
    </p>
</div>