<h2>Hello <%= "#{ @user.name }" %></h2>
<p>
  <%= "#{ @approver.name }" %> has added you to the group <%= "#{@group.name}" %> , and now you can join the conversation!
</p>
<p>
  Click here to visit the group <%= "#{@group.name}" %>  
</p>
  Once you enter in the group you can:
<ul>
  <li>
    See a create new group posts    
  </li>
  <li>    
    Check the events happening in the group
  </li>
  <li>    
    Look at picture galleries in the group
  </li>
  <li>    
    Connect with other AIESEC Alumni
  </li>
</ul>

<br>
  Enjoy!  

