<h2>Greetings <%= "#{ @friend.name }" %></h2>
<p>
  The user <%= "#{@user.name}" %> sent you a friendship request <br>
  Click <a href=<%= "#{Settings.ui_endpoint}/#friends" %>>here</a> to accept
</p>

