<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Greetings <%= "#{ @friend.name }" %></h2>
    <p>
      The user <%= "#{@user.name}" %> sent you a friendship request <br>
      Click <a href=<%= "#{Settings.ui_endpoint}/#friends" %>>here</a> to accept
    </p>
  </body>
</html>
