<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
	<p>Hello <%= "#{ @approver.name }" %>,</p>
	<p>
	  <%= "#{ @requester.name }" %> would like you to approve her request to be a registered member of AlumNet.     
	</p>
	<p>
	  Check your pending approval requests <a href=<%= "#{Settings.ui_endpoint}/#approval-requests" %>>here</a>.
	</p>
</div>