<h2>Hi <%= "#{ @user.name }" %></h2>
<p>
  Your request to join the group <%= "#{@group.name}" %> was accepted, and now you can join the conversation!
</p>
<p>
  Click here to visit the group <%= "#{@group.name}" %>  
</p>
  Once you have entered the AlumNet group page, you may:
<ul>
  <li>
    See a create new group posts    
  </li>
  <li>    
    Check the events happening in the group
  </li>
  <li>    
    Post photos and view picture galleries posted by group members
  </li>
  <li>    
    Connect with other group members
  </li>
</ul>

<br>
  Welcome to group AlumNet!  Enjoy!  

