<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
	<p>Greetings <%= "#{ @approver.name }" %></p>
	<p>
	  <%= "#{ @requester.name }" %> says: Hello, I'm registering in Alumnet. Please approve my membership      
	</p>
	<p>
	  Check your pending approval requests <a href=<%= "#{Settings.ui_endpoint}/#approval-requests" %>>here</a>.
	</p>
</div>