<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
	<p>Hello <%= "#{ @friend.name }" %>,</p>
	<p>
	  <%= "#{@user.name}" %> sent you a friendship request on AlumNet.
	</p>
	<p>
	  Click <a href=<%= "#{Settings.ui_endpoint}/#friends" %>>here</a> to accept.
	</p>	
	<p>Cheers!</p>
</div>