<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
  <p>
  	Hello <%= "#{ @user.name }" %>, <br>
    <%= "#{@comment.user.name}" %> has commented a post you have interacted on. <br>
		Click <a href=<%="#{Settings.ui_endpoint}/#users/#{@comment.commentable.owner.id}/posts/#{@comment.commentable.id}" %>>here</a>	to see the post.
  </p>
</div>