<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
    Welcome to AlumNet <%= @user.profile.first_name %>!

    Your accounts has been approved

    Now you are ready to join the AIESEC Alumni community in AlumNet and re-connect with fellow Alumni around the world!

    Also you will be able to join groups based on geographical locations or topics of your interest and stay updated with AIESEC Alumni events around you!

    <a href=<%="#{Settings.ui_endpoint}/home/" %>>Login In AlumNet Now</a>
</div>