---
http_interactions:
- request:
    method: post
    uri: http://apistaging.profinda.com/api/auth/sign_in
    body:
      encoding: UTF-8
      string: '{"user":{"email":"admin@cooltribes.com","password":"AlumNet2015"}}'
    headers:
      Profindaaccountdomain:
      - cooltribes-staging.profinda.com
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5ee09c596d7cd075b8eb05a6b55f9df7"
    body:
      encoding: UTF-8
      string: '{"id":2766,"authentication_token":"AFxb9Ck_scPZCMtQrb_t"}'
  recorded_at: Fri, 04 Sep 2015 19:47:08 GMT
- request:
    method: get
    uri: http://apistaging.profinda.com/api/admin/dictionary_objects?ids%5B%5D=1590&ids%5B%5D=1636&ids%5B%5D=1638
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Profindaaccountdomain:
      - cooltribes-staging.profinda.com
      Profindaapitoken:
      - AFxb9Ck_scPZCMtQrb_t
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"975f28dde330a4685e88751710e0b5c5"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":1636,"name":"alumnet_languages","value":"English","connected_profiles_ids":[5813,5600,5296,4059,4060,4968,4230,4091,4092,4219,4229,4231,5111,4031,3949,2776,4245,4246,4357,4489,4496,4500,4514,4598,4856,4884,4921]},{"id":1638,"name":"alumnet_country_origin","value":"Venezuela","connected_profiles_ids":[5813,5812,4900,5600,5296,4060,4062,4967,4968,4230,4219,4229,4231,5111,4029,2776,4496,4500,4514,4598,4246,4856,4884,4091,4933]}],"meta":{"total":2}}'
  recorded_at: Fri, 04 Sep 2015 19:47:14 GMT
- request:
    method: get
    uri: http://apistaging.profinda.com/api/admin/dictionary_objects?ids%5B%5D=1606&ids%5B%5D=1637
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Profindaaccountdomain:
      - cooltribes-staging.profinda.com
      Profindaapitoken:
      - AFxb9Ck_scPZCMtQrb_t
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2fff7d0a55fd9faf1ce608ea0f5d1fab"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":1637,"name":"alumnet_city_origin","value":"San Cristobal","connected_profiles_ids":[2776,5813,4900,5296,4060,4062,4230,4219,4231,4029,4496,4500,4598,4091,4933]}],"meta":{"total":1}}'
  recorded_at: Fri, 04 Sep 2015 19:47:20 GMT
[...]
- request:
    method: get
    uri: http://apistaging.profinda.com/api/admin/dictionary_objects?ids%5B%5D=1606&ids%5B%5D=1637
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Profindaaccountdomain:
      - cooltribes-staging.profinda.com
      Profindaapitoken:
      - AFxb9Ck_scPZCMtQrb_t
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2fff7d0a55fd9faf1ce608ea0f5d1fab"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":1637,"name":"alumnet_city_origin","value":"San Cristobal","connected_profiles_ids":[2776,5813,4900,5296,4060,4062,4230,4219,4231,4029,4496,4500,4598,4091,4933]}],"meta":{"total":1}}'
  recorded_at: Fri, 04 Sep 2015 19:48:23 GMT
recorded_with: VCR 2.9.3
