<div style="background:#e6e6e8; color:#111; padding: 15px; font-size:1em;">
	<p>Greetings <%= "#{ @admin.name }" %></p>
	<p>
	  <%= "#{@user.name}" %> sent a request for you to approve him/her
	  <br>
	  Click <a href=<%= "#{Settings.ui_endpoint}/#admin/users/#{@user.id}" %>>here</a> to see the user's information      
	</p>
</div>