defaults: &defaults
  ui_endpoint: http://localhost:3000
  api_endpoint: http://localhost:4000
  profinda_api_endpoint: http://apistaging.profinda.com/api
  profinda_account_domain: cooltribes-staging.profinda.com
  sidekiq_password: secret
  receptive_vendor_id: xxxxxxx
  receptive_secret_key: xxxxxxx
  fog_directory: xxxxxxxxxx
  initial_groups: []
  google_api_key: xxxxxxxxxxx
  elasticsearch_url: http://localhost:9200
  pusher_url: xxxx
  smtp_settings:
    address: xxxxxxxxxxxx
    port: 587
    user_name: xxxxxxxxxxxxxxxxxxxxx
    password: xxxxxxxxxxxxxxxxxxxxxx
  profinda_account:
    user: xxxxxxxxxxxxxxx
    password: xxxxxxxxxxx
  mailchimp_general_api_key: 'f0ad0e019703b02132b2cf15ad458e50-us10'

development:
  <<: *defaults
  mailchimp_general_list_id: 'development'

test:
  <<: *defaults
  mailchimp_general_list_id: 'testing'

staging:
  <<: *defaults
  mailchimp_general_list_id: 'staging'

production:
  <<: *defaults
  mailchimp_general_api_key: '01053b731cd9246d18f459085ea9cb2f-us5'