default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: alumnet_development
  username:
  password:
  host: localhost
  port: 5432

test:
  <<: *default
  database: alumnet_test
  username:
  password:
  host: localhost
  port: 5432

staging:
  <<: *default
  database: alumnet_staging
  username:
  password:
  host:
  port:

production:
  <<: *default
  database: alumnet
  username: <%= ENV['ALUMNET-API_DATABASE_USER'] %>
  password: <%= ENV['ALUMNET-API_DATABASE_PASSWORD'] %>

