<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<!-- Header on -->
	<div style="background:#2b2b2b; padding:15px; color:#B7BFC3; font-size:1em;">
		<img src="<%= Settings.api_endpoint + "/images/alumnet/alumNetLogoHome.png"%>">
	</div>
	<!-- Header off -->
    <%= yield %> 
    <!-- Footer on --> 
    <div style="background:#4c6672; padding: 10px 15px; color:#B7BFC3; font-size:1em;">
	  <img style="max-width: 140px;" src="<%= Settings.api_endpoint + "/images/alumnet/alumNetLogo.png" %>">
	  <p>
	    <strong>AIESEC Alumni International</strong><br>
	    <small>oulevard du Souverain N° 280, B-1160 Brussels, Belgium.</small>
	    <br>
	    <small>International Non Profit Organisation recognized by Belgian Royal Decree 16/05/1991 iVZW- AiSBL.</small>
	    <br>
	    <small>Registered in Belgium under 0456.060.148, RPR/RPM Brussels.</small>
	    <br>
	    <small>Copyright © 2015 AIESEC Alumni International. All rights reserved.</small>
	  </p>
	</div>
    <!-- Footer off -->   
  </body>
</html>
